@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope bg-base-100 text-base-content;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}
