    - name: Build project
      run: |
        npm run build
        cp package.json dist/server/

    - name: Copy files to VPS
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22021
        source: "dist/*, package.json"
        target: "/var/www/sae-301/"
        strip_components: 0
        overwrite: true

    - name: Install production dependencies on VPS
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22021
        script: |
          cd /var/www/sae-301/dist/server
          npm ci --omit=dev
          npm install astro
          npm install send server-destroy
          PORT=8088 pm2 restart sae-301 || PORT=8088 pm2 start entry.mjs --name sae-301
